@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
body{
  color: #191815;
  background-color: #fbfbfb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
