@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
body{
  color: #1D1814;
  background-color: #f5f5e9;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
button{ 
  background-color: #e72267;
  color: #1d1814;
}